<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <% if @exchange_reports.present? %>
        <h2>Your Currency Exchange Reports</h2>
        <br>
        <table class="table">
          <tr>
            <th>Number</th>
            <th>Currency Conversion</th>
            <th>Generation Date</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% @exchange_reports.each_with_index do |exchange_report, index| %>
            <tr>
              <td><%= index + 1%></td>
              <td><%= exchange_report.conversion_currencies %></td>
              <td><%= exchange_report.created_at.strftime('%d.%m.%Y %H:%M') %></td>
              <th>
                <%= link_to exchange_report_path(exchange_report), class: 'btn btn-custom btn-sm' do %>
                  <%= fa_icon "eye", text: "View" %>
                <% end %>
              </th>
              <th>
                <%= link_to edit_exchange_report_path(exchange_report), class: 'btn btn-custom btn-sm' do %>
                  <%= fa_icon "edit", text: "Edit" %>
                <% end %>
              </th>
              <th>
                <%= link_to exchange_report_path(exchange_report), class: 'btn btn-custom btn-sm' , data: {confirm: 'Are you sure?'}, method: :delete do %>
                  <%= fa_icon "trash", text: "Delete" %>
                <% end %>
              </th>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h5>You don't have any exchange reports yet. Click 'New report'
         in navigation menu to create one.</h5>
      <% end %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <br>
      <strong>This is a web app that helps You to decide when to exchange your currency. Supported currencies are: <%= ExchangeReport::CURRENCIES.join(', ') %>.</strong>
    </div>
  </div>
</div>

