<nav class="navbar navbar-expand-sm navbar-dark" style="background: #2d7a71;;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
	</button>

	<!-- Brand -->
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= fa_icon "gg", text: "Exchange Helper" %>
  <% end %>

	<!-- Links -->
	<div class="collapse navbar-collapse" id="nav-content">   
	<ul class="navbar-nav">
  	<li class="nav-item">
      <%= link_to new_exchange_report_path, class: 'nav-link' do %>
        <%= fa_icon "plus-circle", text: "New report" %>
      <% end %>
  	</li>
  	<li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
  	</li>
  	<li class="nav-item">
      <%= link_to new_exchange_report_path, class: 'nav-link' do %>
        <%= fa_icon "info-circle", text: "About" %>
      <% end %>
  	</li>
	</ul>
</nav>
